.footer {
    padding: 28px 0;
    background-color: $dark-700;
    color: $white;

    &__inner {
        display: flex;
        justify-content: space-between;
        
        @include r($sm) {
            flex-direction: column;   
        }
    }

    &__contact {
        @include r($sm) {
            margin-bottom: 15px;   
        }
    }
    
    &__link {
        font-weight: 400;
        margin-bottom: 16px;
    }

    &__tel {
        font-size: 12px;
        font-weight: 400;

        &:not(:last-child) {
            margin-bottom: 5px;
        }
    }

    &__link-tel {
        font-weight: 700;
        font-size: 18px;
        margin-right: 7px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        font-weight: 400;

        @include r($sm) {
            align-items: flex-start;   
        }
    }

    &__content-link {
        max-width: 300px;
        text-align: right;
        margin-bottom: 19px;
        color: $accent;

        @include r($sm) {
            text-align: left;   
        }
    }
   
}

