.request {
    background-image: url('../images/content/request-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 50px 0 35px;

    @include r($md) {
        padding-top: 0;
    }

    &__inner {
        display: flex;
        justify-content: center;

        @include r($md) {
            flex-direction: column;   
        }
    }

    &__title {
        color: $white;
        font-size: 36px;
        font-weight: 700;
        max-width: 375px;
        margin-right: 130px;
        padding-top: 60px;

        @include r($md) {
            margin-bottom: 40px; 
            margin-right: 0; 
            max-width: 100%; 
            text-align: center;
        }
    }

}




